<p>
  svg-example works!
</p>

<p>generate by snapSvg</p>
<svg id="svg"></svg>



<p>gradient</p>
<svg width="120" height="120" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink">

  <defs>
    <linearGradient id="MyGradient">
      <stop offset="5%" stop-color="green" />
      <stop offset="95%" stop-color="gold" />
    </linearGradient>
  </defs>

  <rect fill="url(#MyGradient)" x="10" y="10" width="100" height="100" />
</svg>


<p>polyline animate</p>
<svg>
  <path fill="#1EB287">
    <animate attributeName="d" dur="1440ms" repeatCount="indefinite" keyTimes="0;
                       .0625;
                       .208333333;
                       .3125;
                       .395833333;
                       .645833333;
                       .833333333;
                       1" calcMode="spline" keySplines="0,0,1,1;
                         .42,0,.58,1;
                         .42,0,1,1;
                         0,0,.58,1;
                         .42,0,.58,1;
                         .42,0,.58,1;
                         .42,0,.58,1" values="M 0,0 
                     C 50,0 50,0 100,0
                     100,50 100,50 100,100
                     50,100 50,100 0,100
                     0,50 0,50 0,0
                     Z;
  
                     M 0,0 
                     C 50,0 50,0 100,0
                     100,50 100,50 100,100
                     50,100 50,100 0,100
                     0,50 0,50 0,0
                     Z;
  
                     M 50,0 
                     C 75,25 75,25 100,50 
                     75,75 75,75 50,100
                     25,75 25,75 0,50
                     25,25 25,25 50,0
                     Z;
  
                     M 25,50 
                     C 37.5,25 37.5,25 50,0 
                     75,50 75,50 100,100
                     50,100 50,100 0,100
                     12.5,75 12.5,75 25,50
                     Z;
  
                     M 25,50 
                     C 37.5,25 37.5,25 50,0 
                     75,50 75,50 100,100
                     50,100 50,100 0,100
                     12.5,75 12.5,75 25,50
                     Z;
  
                     M 50,0
                     C 77.6,0 100,22.4 100,50 
                     100,77.6 77.6,100 50,100
                     22.4,100, 0,77.6, 0,50
                     0,22.4, 22.4,0, 50,0
                     Z;
                     
                     M 50,0
                     C 77.6,0 100,22.4 100,50 
                     100,77.6 77.6,100 50,100
                     22.4,100, 0,77.6, 0,50
                     0,22.4, 22.4,0, 50,0
                     Z;
                     
                     M 100,0 
                     C 100,50 100,50 100,100
                     50,100 50,100 0,100
                     0,50 0,50 0,0
                     50,0 50,0 100,0
                     Z;"></animate>
  </path>
</svg>


<p>small animate</p>
<svg>
  <rect x="10" y="10" width="200" height="20" stroke="black" fill="none">
    <animate attributeName="width" attributeType="XML" from="200" to="20" begin="0s" dur="5s" fill="freeze" />
  </rect>
</svg>


<p>directly insert svg (unfriendly code-reading)</p>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="440px"
  height="300px" viewBox="0 0 44 50" enable-background="new 0 0 44 50" xml:space="preserve">

  <defs>
    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="2.0703" y1="42.2998" x2="41.0596" y2="42.2998">
      <stop offset="0" style="stop-color:#11A196" />
      <stop offset="0.497" style="stop-color:#C2E6FA" />
      <stop offset="0.5268" style="stop-color:#B3E0F1" />
      <stop offset="0.6484" style="stop-color:#7ACAD1" />
      <stop offset="0.7608" style="stop-color:#4CB8B8" />
      <stop offset="0.8604" style="stop-color:#2CACA5" />
      <stop offset="0.9435" style="stop-color:#18A49A" />
      <stop offset="1" style="stop-color:#11A196" />
    </linearGradient>
    <radialGradient id="SVGID_1_2" cx="76.8324" cy="51.6882" r="50.0867" gradientUnits="userSpaceOnUse">
      <stop offset="0.2866" style="stop-color:#FFFFFF" />
      <stop offset="1" style="stop-color:#ff1319" />
    </radialGradient>

    <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="1.8447" y1="20.6733" x2="41.0947" y2="20.6733">
      <stop offset="0" style="stop-color:#11A196" />
      <stop offset="0.497" style="stop-color:#C2E6FA" />
      <stop offset="0.5268" style="stop-color:#B3E0F1" />
      <stop offset="0.6484" style="stop-color:#7ACAD1" />
      <stop offset="0.7608" style="stop-color:#4CB8B8" />
      <stop offset="0.8604" style="stop-color:#2CACA5" />
      <stop offset="0.9435" style="stop-color:#18A49A" />
      <stop offset="1" style="stop-color:#11A196" />
    </linearGradient>
    <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="4.5947" y1="20.6733" x2="38.3447" y2="20.6733">
      <stop offset="0" style="stop-color:#11A196" />
      <stop offset="0.497" style="stop-color:#C2E6FA" />
      <stop offset="0.5268" style="stop-color:#B3E0F1" />
      <stop offset="0.6484" style="stop-color:#7ACAD1" />
      <stop offset="0.7608" style="stop-color:#4CB8B8" />
      <stop offset="0.8604" style="stop-color:#2CACA5" />
      <stop offset="0.9435" style="stop-color:#18A49A" />
      <stop offset="1" style="stop-color:#11A196" />
    </linearGradient>

    <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="7.0107" y1="20.6734" x2="35.9287" y2="20.6734">
      <stop offset="0" style="stop-color:#11A196" />
      <stop offset="0.497" style="stop-color:#C2E6FA" />
      <stop offset="0.5268" style="stop-color:#B3E0F1" />
      <stop offset="0.6484" style="stop-color:#7ACAD1" />
      <stop offset="0.7608" style="stop-color:#4CB8B8" />
      <stop offset="0.8604" style="stop-color:#2CACA5" />
      <stop offset="0.9435" style="stop-color:#18A49A" />
      <stop offset="1" style="stop-color:#11A196" />
    </linearGradient>

    <linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="10.0654" y1="20.6733" x2="32.874" y2="20.6733">
      <stop offset="0" style="stop-color:#11A196" />
      <stop offset="0.497" style="stop-color:#C2E6FA" />
      <stop offset="0.5268" style="stop-color:#B3E0F1" />
      <stop offset="0.6484" style="stop-color:#7ACAD1" />
      <stop offset="0.7608" style="stop-color:#4CB8B8" />
      <stop offset="0.8604" style="stop-color:#2CACA5" />
      <stop offset="0.9435" style="stop-color:#18A49A" />
      <stop offset="1" style="stop-color:#11A196" />
    </linearGradient>

    <linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="12.6484" y1="20.6733" x2="30.291" y2="20.6733">
      <stop offset="0" style="stop-color:#11A196" />
      <stop offset="0.497" style="stop-color:#C2E6FA" />
      <stop offset="0.5268" style="stop-color:#B3E0F1" />
      <stop offset="0.6484" style="stop-color:#7ACAD1" />
      <stop offset="0.7608" style="stop-color:#4CB8B8" />
      <stop offset="0.8604" style="stop-color:#2CACA5" />
      <stop offset="0.9435" style="stop-color:#18A49A" />
      <stop offset="1" style="stop-color:#11A196" />
    </linearGradient>

    <linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="15.2324" y1="20.6734" x2="27.707" y2="20.6734">
      <stop offset="0" style="stop-color:#11A196" />
      <stop offset="0.497" style="stop-color:#C2E6FA" />
      <stop offset="0.5268" style="stop-color:#B3E0F1" />
      <stop offset="0.6484" style="stop-color:#7ACAD1" />
      <stop offset="0.7608" style="stop-color:#4CB8B8" />
      <stop offset="0.8604" style="stop-color:#2CACA5" />
      <stop offset="0.9435" style="stop-color:#18A49A" />
      <stop offset="1" style="stop-color:#11A196" />
    </linearGradient>

    <linearGradient id="SVGID_8_" gradientUnits="userSpaceOnUse" x1="150.3174" y1="-2.0082" x2="160.2631" y2="-2.0082" gradientTransform="matrix(0.843 0.5379 -0.5379 0.843 -110.8906 -72.7233)">
      <stop offset="0" style="stop-color:#11A196" />
      <stop offset="0.497" style="stop-color:#C2E6FA" />
      <stop offset="0.5268" style="stop-color:#B3E0F1" />
      <stop offset="0.6484" style="stop-color:#7ACAD1" />
      <stop offset="0.7608" style="stop-color:#4CB8B8" />
      <stop offset="0.8604" style="stop-color:#2CACA5" />
      <stop offset="0.9435" style="stop-color:#18A49A" />
      <stop offset="1" style="stop-color:#11A196" />
    </linearGradient>

    <linearGradient id="SVGID_9_" gradientUnits="userSpaceOnUse" x1="163.441" y1="16.7353" x2="173.189" y2="16.7353" gradientTransform="matrix(0.843 0.5379 -0.5379 0.843 -110.8906 -72.7233)">
      <stop offset="0" style="stop-color:#11A196" />
      <stop offset="0.497" style="stop-color:#C2E6FA" />
      <stop offset="0.5268" style="stop-color:#B3E0F1" />
      <stop offset="0.6484" style="stop-color:#7ACAD1" />
      <stop offset="0.7608" style="stop-color:#4CB8B8" />
      <stop offset="0.8604" style="stop-color:#2CACA5" />
      <stop offset="0.9435" style="stop-color:#18A49A" />
      <stop offset="1" style="stop-color:#11A196" />
    </linearGradient>

    <linearGradient id="SVGID_10_" gradientUnits="userSpaceOnUse" x1="164.5897" y1="1.0473" x2="177.2772" y2="1.0473" gradientTransform="matrix(0.843 0.5379 -0.5379 0.843 -110.8906 -72.7233)">
      <stop offset="0" style="stop-color:#11A196" />
      <stop offset="0.497" style="stop-color:#C2E6FA" />
      <stop offset="0.5268" style="stop-color:#B3E0F1" />
      <stop offset="0.6484" style="stop-color:#7ACAD1" />
      <stop offset="0.7608" style="stop-color:#4CB8B8" />
      <stop offset="0.8604" style="stop-color:#2CACA5" />
      <stop offset="0.9435" style="stop-color:#18A49A" />
      <stop offset="1" style="stop-color:#11A196" />
    </linearGradient>

    <linearGradient id="SVGID_11_" gradientUnits="userSpaceOnUse" x1="146.1129" y1="13.9848" x2="158.9346" y2="13.9848" gradientTransform="matrix(0.843 0.5379 -0.5379 0.843 -110.8906 -72.7233)">
      <stop offset="0" style="stop-color:#11A196" />
      <stop offset="0.497" style="stop-color:#C2E6FA" />
      <stop offset="0.5268" style="stop-color:#B3E0F1" />
      <stop offset="0.6484" style="stop-color:#7ACAD1" />
      <stop offset="0.7608" style="stop-color:#4CB8B8" />
      <stop offset="0.8604" style="stop-color:#2CACA5" />
      <stop offset="0.9435" style="stop-color:#18A49A" />
      <stop offset="1" style="stop-color:#11A196" />
    </linearGradient>

    <radialGradient id="SVGID_12_" cx="161.768" cy="7.4207" r="3.4867" gradientTransform="matrix(0.843 0.5379 -0.5379 0.843 -110.8906 -72.7233)"
      gradientUnits="userSpaceOnUse">
      <stop offset="0" style="stop-color:#C2E6FA" />
      <stop offset="0.0592" style="stop-color:#B3E0F1" />
      <stop offset="0.301" style="stop-color:#7ACAD1" />
      <stop offset="0.5244" style="stop-color:#4CB8B8" />
      <stop offset="0.7225" style="stop-color:#2CACA5" />
      <stop offset="0.8878" style="stop-color:#18A49A" />
      <stop offset="1" style="stop-color:#11A196" />
    </radialGradient>
  </defs>


  <polygon id="trans" fill="url(#SVGID_1_)" stroke="#191919" stroke-width="0.5" points="36.867,43.408 35.189,43.408 29.202,35.649 
          14.507,35.649 8.498,43.408 6.263,43.408 2.07,48.951 41.06,48.951 " />

  <circle fill="url(#SVGID_2_)" stroke="#191919" stroke-width="0.5" cx="21.47" cy="20.673" r="19.625" />

  <circle fill="url(#SVGID_3_)" stroke="#DCDDDD" stroke-width="0.5" cx="21.47" cy="20.673" r="16.875" />

  <circle fill="url(#SVGID_4_)" stroke="#C9CACA" stroke-width="0.5" cx="21.47" cy="20.673" r="14.459" />

  <circle fill="url(#SVGID_5_)" stroke="#999899" stroke-width="0.5" cx="21.47" cy="20.673" r="11.404" />

  <circle fill="url(#SVGID_6_)" stroke="#7F8080" stroke-width="0.5" cx="21.47" cy="20.673" r="8.821" />

  <circle fill="url(#SVGID_7_)" stroke="#7F8080" stroke-width="0.5" cx="21.47" cy="20.673" r="6.237" />

  <path name="trans" fill="url(#SVGID_8_)" stroke="#040000" stroke-width="0.5" d="M17.603,6.481c0.001-2.146,1.741-3.884,3.886-3.883
          c2.146,0.001,3.885,1.741,3.884,3.888c-0.001,2.146-1.745,10.185-3.891,10.184C19.337,16.668,17.602,8.627,17.603,6.481z"
  />

  <path name="trans" fill="url(#SVGID_9_)" stroke="#040000" stroke-width="0.5" d="M25.371,34.669c-0.063,2.145-1.852,3.833-3.994,3.771
          c-2.147-0.063-3.836-1.851-3.772-3.997c0.061-2.145,2.035-10.131,4.18-10.069C23.93,24.438,25.434,32.524,25.371,34.669z"
  />

  <path name="trans" fill="url(#SVGID_10_)" stroke="#040000" stroke-width="0.5" d="M35.327,16.662c2.146,0.029,3.862,1.79,3.834,3.936
          c-0.028,2.146-1.79,3.863-3.937,3.834c-2.146-0.028-10.162-1.874-10.134-4.02C25.119,18.266,33.182,16.634,35.327,16.662z"
  />

  <path name="trans" fill="url(#SVGID_11_)" stroke="#040000" stroke-width="0.5" d="M7.366,24.429c-2.143-0.09-3.81-1.9-3.721-4.043
          c0.09-2.145,1.9-3.81,4.044-3.72c2.145,0.089,10.104,2.164,10.016,4.308C17.615,23.116,9.51,24.518,7.366,24.429z"
  />

  <circle fill="url(#SVGID_12_)" stroke="#040000" stroke-width="0.5" cx="21.488" cy="20.547" r="3.487" />
  <line fill="none" stroke="#191919" stroke-width="0.5" x1="8.498" y1="43.408" x2="35.5" y2="43.408" />
</svg>


<p>insert svg in dynamic-component way</p>
<div style="width: 100%;background-color: #eee;border: 1px solid #CCC">
  <ng-template #svg></ng-template>
</div>


<!-- <img deviceSvg src="assets/img/devices/png/device23.png" width="56" height="36" class="device23" data-options="runId:1155,alarmId:1154" id="device1" style="left: 214px; top: 379px" /> -->
<!-- <img deviceSvg src="assets/img/devices/png/device23.png" width="56" height="36" class="device23" data-options="runId:1158,alarmId:1157" id="device2" style="left: 214px; top: 428px" />
        <img deviceSvg src="assets/img/devices/png/device23.png" width="56" height="36" class="device23" data-options="runId:1161,alarmId:1160" id="device3" style="left: 214px; top: 476px" />
        <img deviceSvg src="assets/img/devices/png/device23.png" width="56" height="36" class="device23" data-options="runId:1164,alarmId:1163" id="device4" style="left: 214px; top: 528px" /> -->

<!-- <ng-template></ng-template> -->
<!-- <img *deviceSvgNew="condition" src="assets/img/devices/png/device23.png" width="50" height="32" class="device23" data-options="runId:1228,alarmId:1227" id="device5" style="left: 1099px; top: 220px" /> -->
<!-- <img *appUnless="condition" src="assets/img/devices/png/device23.png" width="50" height="32" class="device23" data-options="runId:1226,alarmId:1225" id="device6" style="left: 1100px; top: 263px" />
        <img *appUnless="condition" src="assets/img/devices/png/device23.png" width="50" height="32" class="device23" data-options="runId:1224,alarmId:1223" id="device7" style="left: 1101px; top: 308px" />
        <img *appUnless="condition" src="assets/img/devices/png/device23.png" width="50" height="32" class="device23" id="device8" style="left: 1099px; top: 351px" /> -->

